<%- include("header") -%>

<h2>This is the about page</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, impedit assumenda eligendi enim aliquam ipsum
    repellat vitae obcaecati earum eum consequatur nisi, neque pariatur? Neque laboriosam in inventore earum qui tempora
    sed ea consequatur magnam at autem cumque delectus rerum enim perferendis maxime unde quasi, mollitia, harum iusto
    veniam! Recusandae unde corrupti veniam cum magni consectetur. Est sint voluptatem cupiditate! Ad nostrum quia
    maxime accusamus perspiciatis dolores reprehenderit. Alias, numquam dignissimos. Quae, earum magnam at esse
    accusantium similique assumenda soluta dolores sequi cum temporibus eos saepe. Repudiandae reprehenderit magni at,
    doloremque molestiae eveniet beatae nihil excepturi illo expedita culpa sint?</p>

<%- include("footer") -%>